<% provide :title, '設定' %>
<div class="container font-weight-light my-5">
  <h2 class="font-weight-light">設定</h2>
  <p>
    <%= current_user.email %> としてログインしています。
  </p>
  <h3 class="mt-5 font-weight-light">アカウント</h3>
  <p>
    アカウントを削除すると、このアカウントに関連する投資信託や比率情報も削除されます。<br />
    この操作は取り消せません。
  </p>
  <%= link_to user_path(current_user.id), method: :delete, data: { confirm: '本当にアカウントを削除しますか？' } do %>
    <input type="button" class="btn btn-outline-danger" value="削除" />
  <% end %>
</div>