<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>投資信託管理サービス</h1>
    <%= image_tag 'logo.png', alt: 'Napstablook', class: 'img-fluid' %>
    <p>
      あなたの保有する投資信託をかんたん整理。<br />
      リバランス（保有比率調整）のシミュレーションもらくらく。<br />
      <% unless logged_in? %>
        <%= link_to 'ユーザー登録（無料）', new_user_path %>
      <% end %>
      </button>
    </p>
  </div>
</div>

<div class="intro-odd">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-5 p-5">
        <%= image_tag '1.png', class: 'img-fluid' %>
      </div>
      <div class="col-12 col-sm-7">
        <h2 class="mb-3">投資信託をかんたん整理</h2>
        <p class="font-weight-light">かんたんな操作だけであなたの保有する投資信託をきれいに整理できます。</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="intro-even">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-7">
        <h2 class="mb-3">リバランス（保有比率調整）</h2>
        <p class="font-weight-light">リバランス（保有比率調整）を行う前に増資金額のシミュレーションができます.</p>
      </div>
      <div class="col-12 col-sm-5 p-5">
        <%= image_tag '2.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>
