<% provide :title, 'プライバシーポリシー' %>
<div class="container font-weight-light my-5">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2">
      <h2 class="font-weight-light">プライバシーポリシー</h2>
      <p>Napstablook（以下「本ウェブサイト」といいます。）は、以下の方針に従い、本ウェブサイト上で提供するサービス（以下「本サービス」といいます。）をご利用になる方の個人情報を取り扱います。</p>
      <h3 class="mt-5 font-weight-light">個人情報</h3>
      <p>個人情報とは、個人に関する情報であって、当該情報を構成する氏名、生年月日その他の記述等により、特定の個人を識別できるものをいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、それにより特定の個人を識別できるものも個人情報に含まれます。</p>
      <h3 class="mt-5 font-weight-light">法令の遵守</h3>
      <p>本ウェブサイトは、お客様の個人情報を取り扱う際に、個人情報の保護に関する法律及び本プライバシーポリシーを遵守いたします。</p>
      <h3 class="mt-5 font-weight-light">個人情報の利用目的</h3>
      <p>本ウェブサイトは、お客様の個人情報については、以下の目的のために適正に取り扱いさせていただきます。</p>
      <ul>
        <li>本サービスを提供するための機能</li>
      </ul>
      <h3 class="mt-5 font-weight-light">プライバシーポリシーの改定及び継続的取り組み</h3>
      <p>本ウェブサイトは、本プライバシーポリシーの全部または一部を改定することがあります。重要な変更がある場合にはサイト上でお知らせします。また、当社は、個人情報保護のための管理体制および取り組みについて、継続的に見直し、その改善に努めます。</p>
      <h3 class="mt-5 font-weight-light">個人情報に関するお問い合わせ</h3>
      <p>本プライバシーポリシーに関するお問い合わせは、お問い合わせフォームからお願いします。</p>
      <div class="row py-5">
        <div class="col-12 col-sm-8 offset-sm-2 text-center">
          <%= link_to '個人情報に関するお問い合わせ', 'https://www.autovice.jp/', class: 'btn btn-outline-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>