@media (max-width: 991px) {
  header {
    position: absolute;
    height: 80px;
    .container {
      justify-content: space-between;
      .brand {
        width: 32px;
        height: 32px;
      }
    }
  }
}