@media (min-width: 992px) {
  header {
    position: absolute;
    z-index: 32;
    height: 80px;
    .container {
      justify-content: space-between;
      .brand {
        width: 32px;
        height: 32px;
      }
    }
  }
}