$orange: rgb(255, 170, 0);

$body-bg: #fff;
$body-color: #000;

$link-color: $orange;
$link-decoration: none;
$link-hover-color: darken($orange, 10%);
$link-hover-decoration: none;

$navbar-dark-color: $orange;
$navbar-dark-hover-color: darken($orange, 10%);

@import 'bootstrap';

.navbar {
  background-color: #000;
  .navbar-brand {
    font-size: 32px;
    color: #fff;
    font-weight: 100;
  }
}

.jumbotron {
  background-image: url("main.jpg");
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  padding: 35vh 0;
  text-align: center;
  margin-bottom: 0;
  min-height: 100vh;
  h1 {
    font-size: 32px;
    font-weight: 300;
  }
  img {
    margin: 30px 0;
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
}

.intro-odd {
  padding: 50px 0;
  h2 {
    font-weight: 300;
  }
}
.intro-even {
  padding: 50px 0;
  h2 {
    font-weight: 300;
  }
}

.footer {
  font-size: 12PX;
  font-weight: 300;
  text-align: center;
  background-color: #000;
  color: #aaa;
  padding: 15px 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #000;
  font-size: 12px;
  color: #fff;
}
