<div class="container">
  <h2 class="mt-5">Categories</h2>
  <h3>New</h3>
  <%= form_with model: @category, local: false, class: 'form-inline' do |form| %>
    <div class="form-group mr-3">
      <%= form.text_field :name, class: 'form-control', :placeholder => 'Name' %>
    </div>
    <div class="form-group mr-3">
      <%= form.text_field :color, class: 'form-control', :placeholder => 'Color' %>
    </div>
    <%= form.submit class: 'btn btn-outline-light rounded-pill px-3 font-weight-light' %>
  <% end %>
</div>