<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
 
      <h4 class="my-3">Funds</h4>
      <table class="table small">
        <thead>
          <tr class="bg-info text-white">
            <th width="50%">ファンド名</th>
            <th width="5%">クラス</th>
            <th width="5%">種別</th>
            <th width="8%">買付金額</th>
            <th width="8%">評価金額</th>
            <th width="8%">評価損益</th>
            <th width="8%">増資金額</th>
            <th width="8%">増資後</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>三菱ＵＦＪ国際−ｅＭＡＸＩＳ Ｓｌｉｍ 全世界株式（除く日本）</td>
            <td>先株</td>
            <td>特定</td>
            <td>50,000</td>
            <td>49,362</td>
            <td>-738</td>
            <td></td>
            <td>49,362</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>